


/* ================= Start of Global section ======================== */


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: sans-serif;
    text-transform: capitalize;
    font-size:62.5%;
    text-align: center;
    background-color:#c1c1c1;
    position: relative;
}

div{
    display: inline-block;
}

a{
    text-decoration: none;
}

article > p{
    font-size:1rem;
    text-align: left;
    width: 90%;
    display: inline-block;
}

h1{
    color:#000000;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 2rem
}

h2{
    padding-top: .5rem;
    font-size:1.5rem;
}

img{
    width: 95%;
    height:auto;
}

/* ================= Classes ======================== */


.uppercase{
    text-transform: uppercase;
}

.font_size_four{
    font-size:4rem;
}

.text_case_none{
    text-transform: none;
}

.darkgrey{
    color:#4a4a50;
}

.padding_bottom{
    padding-bottom: 1rem;
}


/* ================= Start of hero section ======================== */

#sticky_head{
    position:relative;
    top:3rem;
    font-family: sans-serif;
    font-size:1.7rem;
    z-index: 1;
    background-color: #9a9a9a;
    opacity: .6;
}

#sticky_head > a{
    color:#ffffff;
    background-color:#000000;
    margin: 0 1px 0 1px;
    padding: 0 15px 0 15px;
    transition:.5s;
}

#sticky_head > a:hover{
    color:#000000;
    background-color:#ffffff;
}

#name{
    text-shadow: 5px 5px 8px #000000;
}

#fresno{
    font-size:2rem;
}

/* ===================== Parallax Starts for hero section ================================ */

.hero_box{
    position:relative;
    height:750px;
    background-image: url(https://i.imgur.com/1IFPQGp.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.name_logo{
    height:10rem;
    width:100%;
    position:absolute;
    top:20%;
    font-family: 'Lobster', cursive;
    font-size:10rem;
    color:#ffffff;
    opacity: .8;
    left:0;
}

.fore_star{
    width:100%;
    height:1500px;
    background-image: url(https://i.imgur.com/A8zYCEP.png?2);
    background-position:left bottom;
    background-size:80%;
    background-repeat: repeat;
    position:absolute;
    left:0;
    top:-100px;
}

.back_star{
    width:100%;
    height:800px;
    background-image:url(https://i.imgur.com/9nnOTw3.gif);
    background-repeat: repeat;
    background-size:80%;
    background-position:top right;
    position:absolute;
    top: -170px;
    right: 0px;
}

/* ================= End of hero section ======================== */

/* ================= Start of About Me section ======================== */

#main{
    background-color: white;
    display: inline-block;
    width:80%;
    height:auto;
    box-shadow: 0 0 2.5em 0.5em rgba(0,0,0,0.4);
    
}

#about_me{
    padding-top:0;
}

.section_width{
    width:85%;
    text-align: center;
    display: inline-block;
    padding:2rem 0 3rem 0;
}

#my_picture_3{
    display:none;
}

#my_picture_2{
    display: none;
}

#my_picture{
    position:relative;
    top:-70px;
}

#picture{
    border-radius: 100%;
    border: 5px solid #ffffff;
    width:8rem;
}

.about_article{
    width:calc(100%/3);
    display: inline-block;
}

.align_left{
    text-align: left;
}

.float_left{
    float:left;
}

.float_none{
    float: none;
}

.float_right{
    float: right;
}

.underline{
    text-decoration: underline;
    color:#4a4a50;
}

/*
======================================== Projects ========================================

*/

#projects{
    
    height:auto;
    display:inline-block;
    background-color:#eceae7;
}

#click_instruction{
    text-align:left;
    margin-left: .5rem;
    opacity: 0;
    transition:3s;
}

#project_images_container{
    display: inline-block;
    width:100%;
    padding: 1rem 0 1rem 0;
}

#project_paragraph_container{
    position:relative;
    width:100%;
    padding-bottom: 3rem;
}

.project_style{
    width:calc(99.5%/3);
    opacity:0;
    transition:3s;
    transform:translateX(2rem);
}

.project_showing{
    opacity: 1;
    transform:translateX(0rem);
}

.paragraph_display{
    display:none;
}

.border_right_left{
    border-right:2px #9e9595;
    border-right-style: dotted;
    border-left:2px #9e9595;
    border-left-style: dotted;
}

.project_image{
    transition:1s;
    opacity: .7;
}

.project_image:hover{
    opacity: 1;
    box-shadow: 5px 5px 10px #000000;
}

#contact > div{
    display:inline-block;
    width:calc(90%/4);
    height:11rem;
    font-size:4rem;
}

#phone_number{
    font-size:.8rem;
}

#phone_color{
    color:#4a4a50;
}

#phone_color:hover{
    color:#fa0105;
}

#email_color{
    color:#4a4a50;
}

#email_color:hover{
    color:#ffa500;
}

#facebook_color{
    color:#4a4a50;
}

#facebook_color:hover{
    color:#4169e1;
}

#twitter_color{
    color:#4a4a50;
}

#twitter_color:hover{
    color:#42c0fb;
}

#footer{
    height:5rem;
    background-color:#4a4a50;
    width:100%;
}

#designed_by{
    position:relative;
    bottom:-4rem;
    left:1%;
    color:#ffffff;
}

#bouncing_cheveron{
    color:#4a4a50;
}

#bouncing_cheveron:hover{
    color:#333333;
}

.bounce{
    border-radius:100%;
    position:relative;
    bottom:0rem;
    margin-top:-25px;
    width:5rem;
    height:5rem;
    background:#ffffff;
    color:#333333;
    border: 3px solid #4a4a50;
    font-size:3rem;
    -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:1.5rem; }
  25%, 75% { bottom:2.5rem; }
  50%      { bottom:3rem; }
  100%     {bottom:1rem;}
}

.bounce:hover{
    background-color:#eceae7;
    border: none;
}

/*

#4e4ee6 = lightblue
#50ce50 = lightgreen
#d059d0 = purple
#eceae7 = lightgrey (background color to body)

*/

/* ========================= Media Query Starts =================================== */

@media only screen and (max-width:1189px){
    
    #main{
        width:90%;
    }
}

@media only screen and (max-width:1064px){
    
    #contact > div{
        font-size:3rem;
    }
    
    .border_right_left{
        border:none;
    }
    
    .name_logo{
        font-size:7rem;
    }
    
    .font_size_four{
        font-size:3rem;
    }
    .bounce{
        margin-top: -15px;
        width: 4rem;
        height: 4rem;
    }
     #phone_number{
         display: none;
     }
}

@media only screen and (max-width:950px){
    
    #sticky_head > a{
        margin: 0;
        padding: 0;
        width: calc(94%/4);
        display: inline-block;
    }
    
    .hero_box{
        height:630px;
    }
    
    .name_logo{
        left:0rem;
        top:8%;
    }
    
    .name_logo > p {
        left: 8rem;
        position: relative;
    }
    
    #my_picture{
        display: none;
    }
    
    #my_picture_2{
        display: inline-block;
        position: relative;
        top: 17rem;
        left: -14rem;
    }
    
    #picture_2{
        border-radius: 100%;
        border: 5px solid #ffffff;
        width:14rem;
        height:14rem;
        
    }
    
    #web_developer {
        left: 8rem;
        position: relative;
    }
    
    #fresno {
        left: 8rem;
        position: relative;
    }
    
    #main{
        width:100%;
    }
    
    h1{
        padding-top:3rem;
    }
    
    .section_width {
        width: 95%;
        padding-top:0;
    }
    
    #projects{
        padding-bottom: 0;
        width:100%;
    }
    
    #project_images_container{
        padding-top:0;
    }
    
    #click_instruction{
        padding-bottom: 1rem;
    }
    
    .project_image:hover{
        opacity: 1;
        box-shadow: 5px 5px 10px #000000;
    }
    
    #contact > div{
        height:8rem;
    }
    
    
}

@media only screen and (max-width:740px){
    
    .name_logo {
        font-size: 5rem;
    }
    
    .name_logo > p {
        left: 6rem;
    }
    
    #web_developer{
        font-size:2rem;
        left:6rem;
    }
    
    #fresno{
        font-size:1.5rem;
        left:6rem;
    }
    
    #my_picture_2{
        top: 13rem;
        left: -10rem;
    }
    
    #picture_2{
        width:11rem;
        height:11rem;
    }
    
    h2{
        font-size: 1.2rem;
    }
    
    #click_instruction{
        text-align:center;
    }
    
    .font_size_four{
        font-size: 2.5rem;
    }
    
    article > p {
        font-size: .8rem;
    }
    
    #contact > div {
        font-size: 2rem;
        height:6rem;
    }
    
}

@media only screen and (max-width:567px){
    
    h2{
        font-size:1.1rem;
    }
    
}

@media only screen and (max-width:550px){
    
    .hero_box {
        height: 1000px;
    }
    
    #sticky_head{
        font-size: 2.7rem;
        top:2rem;
    }
    
    #sticky_head > a {
        width: 100%;
        display: block;
        margin: .1rem 0 .1rem 0;
    }
    
    .name_logo{
        top: 26%;
        width: 110%;
        left: 7rem;
    }
    
    .name_logo > p{
        left:-8rem;
    }
    
    #picture_2 {
        width: 15rem;
        height: 15rem;
    }
    
    #my_picture_2 {
        display:none;
    }
    
    #my_picture_3{
        display:inline-block;
        position: relative;
        top: 0rem;
        left: -8rem;
    }
    
    #web_developer{
        left:-8rem;
    }
    
    #fresno{
        left:-8rem;
    }
    
    .section_width{
        width:100%;
    }
    
    .float_left{
        float:none;
    }
    
    .float_right{
        float:none;
    }
    
    .about_article{
        width:100%;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    article > p{
        font-size: 1rem;
        width: 80%;
    }
    
    .padding_bottom{
        padding-top:2rem;
    }
    
    .project_style {
        width: 85%;
    }
    
    #project_paragraph_container{
        display:none;
    }
    
    .paragraph_display{
        display:block;
    }
    
    .paragraph_display > p {
        width: 95%;
        padding: 1rem 0 2rem 0;
    }
    
    .project_image{
        opacity:.8;
    }
    
}


@media only screen and (max-width:330px){
    
    .hero_box {
        height: 700px;
    }
    
    #picture_2{
        width:10rem;
        height:10rem;
    }
    
    .name_logo {
        font-size: 3rem;
        top:40%;
    }
    
    #my_picture_3{
        top:-1rem;
    }
    
    #web_developer{
        font-size:1.6rem;
    }
    
    #fresno{
        font-size:1.3rem;
    }
    
    
}




