/* ========== Basic Style ============= */

body{
    font-family: sans-serif;
    
}

h1{
    color:#cccccc;
    font-weight: 300;
}

.content{
    padding-top:100px;
    max-width: 640px;
    margin:0 auto;
    text-align:center;
}

img{
    max-width: 100%;
}

/* ===================== Parallax Starts ================================ */

.bird_box{
    position:relative;
    height:600px;
    background-image: url(https://i.imgur.com/7P6ci8E.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.logo{
    height:250px;
    width:100%;
    background-image:url(https://i.imgur.com/MYcBqSI.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:45%;
    position:absolute;
    top:2%;
}

.fore_bird{
    width:960px;
    height:800px;
    background-image: url(https://i.imgur.com/Vr3WefP.png);
    background-position:left bottom;
    background-repeat: no-repeat;
    background-size:50%;
    position:absolute;
    left:0;
    top:-185px;
}

.back_bird{
    width:960px;
    height:1000px;
    background-image:url(https://i.imgur.com/Y5BcVqP.png?1);
    background-repeat: no-repeat;
    background-size:22%;
    background-position:top right;
    position:absolute;
    top: -150px;
    right: -140px;
}


/* ============== toggle ============================ */







